<div ng-controller='headerCtrl as hea'>
  <h1><a ng-href="#/{{homePage()}}">My App</a></h1>
  <div class="navbar navbar-default">
  <div class="navbar-inner">
    <div class="container-fluid">
      <ul id="navigationPages" class="nav navbar-nav">
        <li ng-repeat="page in hea.pageList"
              ng-class="{ active: isSelected('/{{page}}') }"
              ng-click="hea.select(page)">
          <a ng-href="#/{{page}}">{{page}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>
